:root {
  --primary-text-color: rgb(33, 33, 33);
  --secondary-text-color: rgb(117, 117, 117);
  --acent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --bg-color-team: rgba(245, 244, 250, 1);
  --bg-color-acent: rgb(47, 48, 58);
  --contacts-color-footer: rgba(255, 255, 255, 0.6);
  --social-link-color: rgb(175, 177, 184);
  --work-desc-color: rgba(47, 48, 58, 0.8);
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --social-link-bg: rgba(255, 255, 255, 0.1);
}

.services__title, .team__title, .clients__title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.hero__btn, .subcribe__btn, .modal-form__btn {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--acent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}

.logo__text {
  color: var(--acent-color);
}

.page-header__logo {
  margin-right: 93px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--acent-color);
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}

.site-nav__link--active {
  color: var(--acent-color);
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent-color);
}

.contacts-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.contact-header__item {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-header__item:first-of-type {
    margin-right: 50px;
    margin-bottom: unset;
  }
}

.contacts-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}

.contacts-header__link:hover, .contacts-header__link:focus {
  color: var(--acent-color);
}

@media screen and (min-width: 1200px) {
  .contacts-header__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  min-height: 400px;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color-acent);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desktop.jpg);
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.5;
    width: 696px;
  }
}

.hero__btn {
  -webkit-transition: -webkit-transform 250ms var(--timing-fn);
  transition: -webkit-transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn), -webkit-transform 250ms var(--timing-fn);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__item {
  width: 100%;
}

.features__item::not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .features__item::not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-team);
  border-radius: 4px;
}

.services {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  margin-right: 30px;
  position: relative;
}

.services__item:last-child {
  margin-right: 0;
}

.services__thumb {
  position: relative;
  overflow: hidden;
}

.services-desc {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.services-desc__text {
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--work-desc-color);
}

.team {
  padding: 60px 0;
  background-color: var(--bg-color-team);
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .team__item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__img {
  width: 100%;
}

.team-set {
  padding: 30px 32px;
  text-align: center;
}

.team-set__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-set__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__icon {
  fill: currentColor;
}

.team-social__link {
  display: block;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--social-link-color);
  -webkit-transition: background-color 250ms var(--timing-fn);
  transition: background-color 250ms var(--timing-fn);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
  border-radius: 50%;
}

.clients {
  padding-top: 88px;
  padding-bottom: 100px;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  width: 100%;
  height: 90px;
}

.clients__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .clients__item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}

.clients__link:hover, .clients__link:focus {
  color: var(--acent-color);
  border-color: var(--acent-color);
}

.page-footer {
  padding: 60px 0;
  background-color: var(--bg-color-acent);
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contacts-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts-footer {
    margin-bottom: unset;
  }
}

.contacts-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-footer__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer__maps {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.contacts-footer__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-color-footer);
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}

.contacts-footer__link:hover, .contacts-footer__link:focus {
  color: var(--acent-color);
}

.social {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: unset;
  }
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white-color);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--social-link-bg);
  -webkit-transition: background-color 250ms var(--timing-fn);
  transition: background-color 250ms var(--timing-fn);
}

.social__link:hover, .social__link:focus {
  background-color: var(--acent-color);
}

.social__icon {
  fill: currentColor;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    margin-right: auto;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  color: var(--white-color);
  background-color: var(--bg-color-acent);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color-footer);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color-footer);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color-footer);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color-footer);
}

@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: unset;
  }
}

.subcribe__btn {
  position: relative;
  padding-right: 35px;
}

@media screen and (min-width: 1200px) {
  .subcribe__btn {
    margin-left: 12px;
  }
}

.subscribe__icon {
  position: absolute;
  right: 25px;
  bottom: 14px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-fn);
  transition: opacity 250ms var(--timing-fn);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-fn);
  transition: -webkit-transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn), -webkit-transform 250ms var(--timing-fn);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal__icon:hover {
  fill: var(--acent-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    text-align: left;
  }
}

.modal-form__label {
  position: relative;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms var(--timing-fn);
  transition: border 250ms var(--timing-fn);
}

.modal-form__input:focus {
  border: 1px solid var(--acent-color);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--acent-color);
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  width: 15px;
  height: 15px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms var(--timing-fn);
  transition: fill 250ms var(--timing-fn);
}

.modal-form__btn {
  margin: 30px auto 0;
}

.modal-form__area {
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms var(--timing-fn);
  transition: border 250ms var(--timing-fn);
}

.modal-form__area:focus {
  border: 1px solid var(--acent-color);
}

.modal-form__area::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__area:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__area::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__area::placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .policy {
    padding-left: 12px;
    padding-right: 7px;
  }
}

.policy__link {
  margin-left: 2px;
  color: var(--acent-color);
  text-decoration: underline;
}

.policy__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.policy__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border-radius: 2px;
  border: 2px solid var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.policy__input:checked + .policy__label::before {
  border-color: var(--acent-color);
  background-color: var(--acent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.portfolio {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  padding: 6px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-team);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-fn);
  transition: background-color 250ms var(--timing-fn);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.gallery__item {
  cursor: pointer;
}

.gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 1199px) {
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery-container__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-container__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--timing-fn);
  transition: -webkit-transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn);
  transition: transform 250ms var(--timing-fn), -webkit-transform 250ms var(--timing-fn);
  background-color: var(--overlay-bg);
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-color);
}
/*# sourceMappingURL=main.css.map */