.contacts-header {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--secondary-text-color);
}

.contact-header__item:first-of-type {
  margin-right: 50px;
}

.contacts-header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
