.gallery__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.gallery__item {
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay {
    transform: translateY(0);
  }

  @media screen and(max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: unset;
  }

  @media screen and(max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__img {
  @media screen and(max-width: 767px) {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  transform: translateY(101%);
  @include transition(transform);
  background-color: var(--overlay-bg);

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white-color);
  }

  @media screen and(min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and(min-width: 1200px) {
    padding: 63px 24px;
  }
}
