.hero {
  max-width: 1600px;
  min-height: 400px;
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color-acent);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tablet.jpg);
  }

  @media screen and(min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-desktop.jpg);
    height: 600px;
    padding: 200px 0;
  }

  &__title {
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    color: var(--white-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and(min-width: 480px) {
      width: 360px;
    }

    @media screen and(min-width: 768px) {
    }

    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.5;
      width: 696px;
    }
  }

  &__btn {
    @extend %btn;
    @include transition(transform);
  }
}
