.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and(min-width: 768px) {
    justify-content: space-between;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
}
