.page-footer {
  padding: 60px 0;
  background-color: var(--bg-color-acent);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer__maps {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.contacts-footer__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-color-footer);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
