:root {
  --primary-text-color: rgb(33, 33, 33);
  --secondary-text-color: rgb(117, 117, 117);
  --acent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --bg-color-team: rgba(245, 244, 250, 1);
  --bg-color-acent: rgb(47, 48, 58);
  --contacts-color-footer: rgba(255, 255, 255, 0.6);
  --social-link-color: rgb(175, 177, 184);
  --work-desc-color: rgba(47, 48, 58, 0.8);
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --social-link-bg: rgba(255, 255, 255, 0.1);
  --divider: rgba(33, 33, 33, 0.2);
}
